<div class="border-primary-200 flex max-h-120 min-h-90 min-w-65 flex-col rounded-xl border bg-white p-3 pt-2 shadow-xl">
  <div class="mb-3 border-b-3 border-indigo-100 py-0.5 text-sm font-bold tracking-wide text-indigo-500">
    Chat With GenieBot
  </div>
  <div #scrollContainer class="mb-2 flex flex-1 flex-col gap-2 overflow-y-auto pr-1">
    @for (msg of messages(); track $index) {
      <app-chat-msg [msg]="msg"></app-chat-msg>
    } @empty {
      <div class="text-primary-400 mt-5 text-center text-sm">No messages.</div>
    }
  </div>
  <div class="border-primary-300 mt-auto flex items-center gap-0.5 border-t-1 pt-3">
    <input
      pInputText
      [pAutoFocus]="true"
      placeholder="Ask something..."
      [(ngModel)]="input"
      class="text-primary-700 placeholder-primary-400 flex-1 rounded-lg border-1 border-indigo-400 p-1 text-sm outline-indigo-400 focus:outline-1"
      (keyup.enter)="send()"
    />
    <button class="h-7 w-7 cursor-pointer rounded-full" (click)="send()">
      <i class="pi pi-send text-lg! text-indigo-600"></i>
    </button>
  </div>
</div>
