<p-toolbar>
  <ng-template #start> search flights </ng-template>
  <ng-template #center class="flex-1">
    <div class="my-2 flex flex-col items-center gap-4">
      <div class="flex flex-col gap-4 sm:flex-row">
        <div>
          From:
          <app-location-select
            [placeholder]="'Choose Origin'"
            [selectedLocation]="{ city: 'Tel Aviv', country: 'Israel', continent: 'Asia', code: 'il' }"
            (onLocationSelected)="setOrigin($event)"
          ></app-location-select>
        </div>
        <div>
          To:
          <app-location-select
            [placeholder]="'Choose Target'"
            (onLocationSelected)="setTarget($event)"
          ></app-location-select>
        </div>
      </div>
      <div class="mt-2 flex gap-2">
        Cost Range:
        <div class="flex items-center gap-3">
          {{ rangeValues[0] | number: "1.0-0" }}
          <p-slider [(ngModel)]="rangeValues" [range]="true" [step]="500" [min]="0" [max]="30000" styleClass="w-56" />
          {{ rangeValues[1] | number: "1.0-0" }}
        </div>
      </div>
      <div>
        At Date:
        <p-datepicker
          [(ngModel)]="date"
          [minDate]="today"
          [iconDisplay]="'input'"
          [showIcon]="true"
          [showClear]="true"
        />
      </div>
      <p-button label="Filter" icon="pi pi-filter" (onClick)="filterFlights()"></p-button>
    </div>
  </ng-template>
  <ng-template #end>
    <p-iconfield iconPosition="left">
      <p-inputicon styleClass="pi pi-search" />
      <input type="text" pInputText placeholder="Free Search" [disabled]="true" />
    </p-iconfield>
  </ng-template>
</p-toolbar>

<div class="card mx-25 mt-2">
  @if (flights().length == 0) {
    <div class="text-primary-600 pt-5 text-center">Oh no! We couldn't find a flight that matches your filter 😞</div>
  } @else {
    <app-flights-list [flights]="flights"></app-flights-list>
  }
</div>
